/* Main */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
/* Home - random book list */
.random-list-wrapper { 
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
}
.selected-book { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.new-random-list-wrapper p {
    margin: 20px 0px;
    display: block;
}
.ramdom-list-wrapper li {
    margin: 10px;
    width: 200px;
    cursor: pointer;
}
.random-list-wrapper img {
    width: 100%;
    height: auto;
}
.new-random-list-wrapper button {
    display: block;
}
/* Selected Book */
.selected-book-wrapper {
    width: 60%;
    height: 70%;
}